openapi: 3.0.3
info:
  title: NowChess Tournament API
  description: |
    Bot tournaments with pluggable formats (Swiss, elimination, group stage,
    league, random knockout), modelled after the Lichess API style.

    The tournament server is fully self-contained — it manages game state,
    moves, and outcomes internally.

    ## Streaming
    Endpoints marked **NDJSON** return newline-delimited JSON objects
    (`application/x-ndjson`). Each line is one complete JSON object. The
    connection stays open until the tournament, round, or game ends.

    ## Bot flow
    ```
    POST /api/tournament                       # create
    POST /api/tournament/{id}/join             # each bot joins
    POST /api/tournament/{id}/start            # director starts

    GET  /api/tournament/{id}/stream  (NDJSON) # open before start

    -- per round --
    receive gameStart { gameId, color }
    GET  /api/tournament/{id}/game/{gameId}/stream  (NDJSON)
    POST /api/tournament/{id}/game/{gameId}/move/{uci}
    -- repeat --

    GET  /api/tournament/{id}/results (NDJSON) # final standings
    ```
  version: 2.0.0

servers:
  - url: https://st.nowchess.janis-eccarius.de
    description: Staging
  - url: https://nowchess.janis-eccarius.de
    description: Production
  - url: http://localhost:8086
    description: Local

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Identity registration and token issuance
  - name: Tournament
    description: Tournament lifecycle
  - name: Participation
    description: Join and withdraw
  - name: Results
    description: Standings, pairings, and game export
  - name: Analytics
    description: Stable analytics export for external pipelines
  - name: Stream
    description: NDJSON event streams
  - name: Game
    description: In-game move submission and state
  - name: Openings
    description: Named starting positions (catalog and custom)
  - name: Registry
    description: Permanently registered bots

paths:

  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new identity
      description: |
        Registers a user or bot identity and returns a JWT. No password
        required — identity is for attribution, not security.

        The returned token is used as a Bearer token on all authenticated
        endpoints. The `sub` claim contains the assigned ID; `isBot` is
        set according to the request.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Identity registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/tournament:
    get:
      tags: [Tournament]
      summary: Get current tournaments
      description: Returns tournaments grouped by status. No auth required.
      security: []
      responses:
        "200":
          description: Tournaments by status
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: array
                    items:
                      $ref: "#/components/schemas/TournamentInfo"
                  started:
                    type: array
                    items:
                      $ref: "#/components/schemas/TournamentInfo"
                  finished:
                    type: array
                    items:
                      $ref: "#/components/schemas/TournamentInfo"

    post:
      tags: [Tournament]
      summary: Create a new tournament
      description: The authenticated user becomes the tournament director.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CreateTournamentForm"
      responses:
        "201":
          description: Tournament created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tournament"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/tournament/{id}:
    parameters:
      - $ref: "#/components/parameters/id"

    get:
      tags: [Tournament]
      summary: Get a tournament
      description: Includes the first page of standings in the `standing` field.
      security: []
      responses:
        "200":
          description: Tournament with embedded standings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tournament"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Tournament]
      summary: Terminate a tournament
      description: Only the director may terminate. Only allowed while status is `created`.
      responses:
        "204":
          description: Terminated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/tournament/{id}/start:
    parameters:
      - $ref: "#/components/parameters/id"

    post:
      tags: [Tournament]
      summary: Start the tournament
      description: |
        Only the director may start. Requires at least 2 joined bots.
        Computes round 1 pairings and creates games internally.
      responses:
        "200":
          description: Tournament started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tournament"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/tournament/{id}/join:
    parameters:
      - $ref: "#/components/parameters/id"

    post:
      tags: [Participation]
      summary: Join a tournament
      description: |
        Register the authenticated bot for the tournament. Only allowed while
        status is `created`. The token subject must be a bot account.
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/tournament/{id}/withdraw:
    parameters:
      - $ref: "#/components/parameters/id"

    post:
      tags: [Participation]
      summary: Withdraw from a tournament
      description: Only allowed while status is `created`.
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/tournament/{id}/participants:
    parameters:
      - $ref: "#/components/parameters/id"

    post:
      tags: [Participation]
      summary: Add a registered bot to the tournament
      description: |
        Adds a permanently registered bot (see `GET /api/bots`) as a participant
        by id, without re-supplying its details. Only the director may do this,
        and only while status is `created`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddParticipantRequest"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/openings:
    get:
      tags: [Openings]
      summary: List named starting positions
      description: Returns the built-in opening catalog plus any custom entries. No auth required.
      security: []
      responses:
        "200":
          description: Named openings
          content:
            application/json:
              schema:
                type: object
                properties:
                  openings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Opening"

    post:
      tags: [Openings]
      summary: Register a custom named position
      description: |
        Registers a custom named starting position usable by any tournament.
        The `key` is derived from `name` when omitted. Catalog keys are reserved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterOpeningRequest"
      responses:
        "201":
          description: Opening registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opening"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/bots:
    get:
      tags: [Registry]
      summary: List registered bots
      description: Returns all permanently registered bots. No auth required.
      security: []
      responses:
        "200":
          description: Registered bots
          content:
            application/json:
              schema:
                type: object
                properties:
                  bots:
                    type: array
                    items:
                      $ref: "#/components/schemas/RegisteredBot"

    post:
      tags: [Registry]
      summary: Register a bot permanently
      description: |
        Registers a bot so it can later be added to tournaments by id alone.
        Returns the generated bot id.

        The id is backed by a bot auth identity (it doubles as a JWT subject),
        so a client that mints a token for the same name via
        `POST /api/auth/register` can drive the bot's moves once it has been
        added to a tournament. Registering the same name again is idempotent and
        resolves to the same id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterBotRequest"
      responses:
        "201":
          description: Bot registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredBot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/bots/{id}:
    parameters:
      - $ref: "#/components/parameters/id"

    delete:
      tags: [Registry]
      summary: Remove a registered bot
      responses:
        "204":
          description: Removed
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/tournament/{id}/results:
    parameters:
      - $ref: "#/components/parameters/id"

    get:
      tags: [Results]
      summary: Get results as NDJSON stream
      description: |
        Streams one `Result` object per line, sorted by rank ascending.
        Available at any point during or after the tournament.
      security: []
      parameters:
        - name: nb
          in: query
          description: Max number of results to stream (default all)
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: NDJSON stream of results
          content:
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/Result"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/tournament/{id}/round/{round}:
    parameters:
      - $ref: "#/components/parameters/id"
      - name: round
        in: path
        required: true
        schema:
          type: integer
          minimum: 1

    get:
      tags: [Results]
      summary: Get pairings for a round
      security: []
      responses:
        "200":
          description: Pairings for the specified round
          content:
            application/json:
              schema:
                type: object
                properties:
                  round:
                    type: integer
                    example: 2
                  pairings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pairing"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/tournament/{id}/export/games:
    parameters:
      - $ref: "#/components/parameters/id"

    get:
      tags: [Results]
      summary: Export all games
      description: |
        Returns all games of the tournament. Accepts both PGN and NDJSON via
        the `Accept` header.
      security: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            enum:
              - application/x-chess-pgn
              - application/x-ndjson
            default: application/x-chess-pgn
      responses:
        "200":
          description: Games in the requested format
          content:
            application/x-chess-pgn:
              schema:
                type: string
                description: Standard PGN, one game per block
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/GameExport"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/tournament/{id}/analytics-export:
    parameters:
      - $ref: "#/components/parameters/id"

    get:
      tags: [Analytics]
      summary: Export all data needed for external analytics
      description: |
        Returns a single JSON document containing all game results and final
        standings needed by external clients to run their own Spark or
        batch analytics pipelines.

        This endpoint does **not** compute analytics. It assembles raw data
        from the tournament into one stable, versioned payload.

        Available only when the tournament `status` is `finished`.
        Returns **409** if the tournament is still running.
      security: []
      responses:
        "200":
          description: Full analytics export document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsExport"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/tournament/{id}/stream:
    parameters:
      - $ref: "#/components/parameters/id"

    get:
      tags: [Stream]
      summary: Stream tournament events
      description: |
        NDJSON stream scoped to one tournament. Keep this connection open for
        the full tournament lifetime.

        On `gameStart` the bot connects to the game endpoints:
        - `GET /api/tournament/{id}/game/{gameId}/stream` — stream game state
        - `POST /api/tournament/{id}/game/{gameId}/move/{uci}` — submit moves
      responses:
        "200":
          description: NDJSON event stream
          content:
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/TournamentEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/tournament/{id}/game/{gameId}:
    parameters:
      - $ref: "#/components/parameters/id"
      - $ref: "#/components/parameters/gameId"

    get:
      tags: [Game]
      summary: Get current game state
      description: Returns the full state of a game including moves played so far.
      security: []
      responses:
        "200":
          description: Game state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameState"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/tournament/{id}/game/{gameId}/stream:
    parameters:
      - $ref: "#/components/parameters/id"
      - $ref: "#/components/parameters/gameId"

    get:
      tags: [Game]
      summary: Stream game events
      description: |
        NDJSON stream of game events. Emits the full game state on connect,
        then one event per move or status change. Connection closes when the
        game ends.
      responses:
        "200":
          description: NDJSON game event stream
          content:
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/GameEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/tournament/{id}/game/{gameId}/move/{uci}:
    parameters:
      - $ref: "#/components/parameters/id"
      - $ref: "#/components/parameters/gameId"
      - name: uci
        in: path
        required: true
        description: UCI move notation (e.g. e2e4, e7e8q)
        schema:
          type: string
          example: e2e4

    post:
      tags: [Game]
      summary: Submit a move
      description: |
        Submit a move in UCI notation. Only the bot whose turn it is may
        submit. The bot's identity is derived from the JWT — no bot can
        play as another.
      responses:
        "200":
          description: Move accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
      example: t7kXq2

    gameId:
      name: gameId
      in: path
      required: true
      schema:
        type: string
      example: j0nPtcjl

  schemas:

    RegisterRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Display name for this identity
          example: MyChessBot
        isBot:
          type: boolean
          default: false
          description: Whether this identity represents a bot (true) or a user/director (false)

    RegisterResponse:
      type: object
      properties:
        id:
          type: string
          description: Assigned identity ID (used as JWT subject)
          example: usr_a1b2c3
        token:
          type: string
          description: JWT bearer token for subsequent requests
          example: eyJhbGciOiJIUzI1NiJ9...

    Opening:
      type: object
      properties:
        key:
          type: string
          example: vienna
        name:
          type: string
          example: Vienna Opening
        fen:
          type: string
          example: rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 1 2

    RegisterOpeningRequest:
      type: object
      required: [name, fen]
      properties:
        name:
          type: string
          example: London System
        fen:
          type: string
          description: FEN of the starting position
          example: rnbqkbnr/ppp1pppp/8/3p4/3P1B2/8/PPP1PPPP/RN1QKBNR b KQkq - 2 2
        key:
          type: string
          description: Optional explicit key; derived from `name` when omitted. Catalog keys are reserved.
          example: london

    RegisteredBot:
      type: object
      properties:
        id:
          type: string
          example: a1b2c3d4
        name:
          type: string
          example: StockfishClone
        endpoint:
          type: string
          nullable: true
          description: Optional external play URL for the bot
          example: https://bots.example.com/stockfish
        family:
          type: string
          nullable: true
          description: Bot family for analytics grouping (e.g. searchess-ai, stockfish, heuristic)
          example: stockfish
        strategyType:
          type: string
          nullable: true
          description: Strategy type within the family (e.g. material-greedy, random, neural)
          example: material-greedy
        engineType:
          type: string
          nullable: true
          description: Underlying engine type (e.g. uci, http, internal)
          example: uci
        modelVersion:
          type: string
          nullable: true
          description: Model or engine version string
          example: "16"

    RegisterBotRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: StockfishClone
        endpoint:
          type: string
          description: Optional external play URL for the bot
          example: https://bots.example.com/stockfish
        family:
          type: string
          description: Bot family for analytics grouping
          example: stockfish
        strategyType:
          type: string
          description: Strategy type within the family
          example: material-greedy
        engineType:
          type: string
          description: Underlying engine type
          example: uci
        modelVersion:
          type: string
          description: Model or engine version string
          example: "16"

    AddParticipantRequest:
      type: object
      required: [botId]
      properties:
        botId:
          type: string
          description: Id of a registered bot
          example: a1b2c3d4

    Clock:
      type: object
      required: [limit, increment]
      properties:
        limit:
          type: integer
          description: Base time in seconds
          example: 300
        increment:
          type: integer
          description: Increment per move in seconds
          example: 3

    Variant:
      type: object
      properties:
        key:
          type: string
          example: standard
        name:
          type: string
          example: Standard

    BotRef:
      type: object
      properties:
        id:
          type: string
          example: bot_abc
        name:
          type: string
          example: StockfishClone

    Standing:
      type: object
      properties:
        page:
          type: integer
          example: 1
        players:
          type: array
          items:
            $ref: "#/components/schemas/Result"

    TournamentInfo:
      description: Lightweight tournament summary used in list responses.
      type: object
      properties:
        id:
          type: string
          example: t7kXq2
        fullName:
          type: string
          example: Friday Night Bots Swiss
        clock:
          $ref: "#/components/schemas/Clock"
        variant:
          $ref: "#/components/schemas/Variant"
        rated:
          type: boolean
          example: true
        nbPlayers:
          type: integer
          example: 8
        nbRounds:
          type: integer
          example: 5
        format:
          type: string
          enum: [swiss, singleElimination, doubleElimination, groupStage, league, randomKnockout]
          example: swiss
        matchesPerPairing:
          type: integer
          description: Number of games per pairing (1 = single game, 3 = best of 3, etc.)
          example: 1
        startPosition:
          type: string
          description: FEN string for custom start position, or "standard"
          example: standard
        createdBy:
          type: string
          example: userId
        startsAt:
          type: string
          format: date-time

    Tournament:
      allOf:
        - $ref: "#/components/schemas/TournamentInfo"
        - type: object
          properties:
            status:
              type: string
              enum: [created, started, finished]
              example: started
            round:
              type: integer
              description: Current round number
              example: 2
            standing:
              $ref: "#/components/schemas/Standing"
            winner:
              description: Present only when status is `finished`
              allOf:
                - $ref: "#/components/schemas/BotRef"
              nullable: true

    CreateTournamentForm:
      type: object
      required: [name, nbRounds, clockLimit, clockIncrement]
      properties:
        name:
          type: string
          example: Friday Night Bots
        nbRounds:
          type: integer
          minimum: 1
          example: 5
        clockLimit:
          type: integer
          description: Base time in seconds
          example: 300
        clockIncrement:
          type: integer
          description: Increment per move in seconds
          example: 3
        rated:
          type: boolean
          default: true
        format:
          type: string
          enum: [swiss, singleElimination, doubleElimination, groupStage, league, randomKnockout]
          default: swiss
          description: Tournament format
        startPosition:
          type: string
          description: FEN string for custom starting position. Omit or "standard" for normal chess.
          default: standard
        matchesPerPairing:
          type: integer
          minimum: 1
          default: 1
          description: Games per pairing (use odd numbers for best-of-N, e.g. 3 for best of 3)
        groupSize:
          type: integer
          minimum: 2
          description: Required when format is `groupStage`. Number of bots per group.
        opening:
          type: string
          description: |
            Key of a named opening (see `GET /api/openings`) to use as the
            starting position, e.g. `vienna`. Takes precedence over
            `startPosition`. Unknown keys are rejected with 400.
          example: vienna
        bots:
          type: string
          description: |
            Comma-separated list of registered bot ids (see `GET /api/bots`) to
            add as participants at creation time. Unknown ids are rejected with 400.
          example: a1b2c3d4,e5f6g7h8
        maxConcurrentGames:
          type: integer
          minimum: 1
          description: |
            Maximum number of games per round that may be active at once. Extra
            games stay `pending` and are activated as running games finish.
            Omit for unlimited concurrency.
          example: 4
        openings:
          type: string
          description: |
            Comma-separated list of opening keys (see `GET /api/openings`) forming
            a thematic opening book. When set, every pairing plays each listed
            position twice with the colours reversed (so `matchesPerPairing`
            becomes `2 * openings`), and `opening`/`startPosition` are ignored.
            Unknown keys are rejected with 400.
          example: vienna,italian,ruyLopez

    Result:
      type: object
      properties:
        rank:
          type: integer
          example: 1
        points:
          type: number
          format: double
          example: 3.5
        tieBreak:
          type: number
          format: double
          description: Buchholz score (sum of opponents' points)
          example: 9.0
        bot:
          $ref: "#/components/schemas/BotRef"
        nbGames:
          type: integer
          example: 4
        wins:
          type: integer
          example: 3
        draws:
          type: integer
          example: 1
        losses:
          type: integer
          example: 0

    Pairing:
      type: object
      properties:
        round:
          type: integer
          example: 2
        white:
          $ref: "#/components/schemas/BotRef"
        black:
          $ref: "#/components/schemas/BotRef"
        gameId:
          type: string
          description: ID of the first (or only) game in this pairing
          example: j0nPtcjl
        matchesPerPairing:
          type: integer
          description: Total games in this pairing
          example: 1
        matchResults:
          type: array
          description: Results of individual games within the pairing
          items:
            type: object
            properties:
              gameId:
                type: string
              winner:
                type: string
                enum: [white, black, draw]
                nullable: true
        winner:
          type: string
          enum: [white, black, draw]
          nullable: true
          description: Aggregate result. Null while the pairing is ongoing.

    GameState:
      description: Full state of a game in progress or completed.
      type: object
      properties:
        id:
          type: string
          example: j0nPtcjl
        tournamentId:
          type: string
          example: t7kXq2
        round:
          type: integer
          example: 2
        white:
          $ref: "#/components/schemas/BotRef"
        black:
          $ref: "#/components/schemas/BotRef"
        moves:
          type: string
          description: Space-separated UCI moves
          example: e2e4 e7e5 g1f3
        fen:
          type: string
          description: Current board position in FEN
          example: rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1
        status:
          type: string
          enum: [pending, ongoing, checkmate, stalemate, draw, resigned, timeout]
          description: |
            `pending` means the game has been created but is not yet active
            because of the tournament's `maxConcurrentGames` cap; it activates
            (becomes `ongoing`) as running games finish.
          example: ongoing
        turn:
          type: string
          enum: [white, black]
          example: white
        winner:
          type: string
          enum: [white, black]
          nullable: true
          description: Null while the game is ongoing or if drawn
        clock:
          type: object
          properties:
            whiteTime:
              type: number
              description: Remaining time for white in seconds
            blackTime:
              type: number
              description: Remaining time for black in seconds
            increment:
              type: integer
              description: Fischer increment added after each move, in seconds
        startPosition:
          type: string
          description: Starting FEN (standard or custom)

    GameEvent:
      description: |
        One JSON object per NDJSON line. Discriminate on `type`. A `heartbeat`
        line (`{"type":"heartbeat"}`) is sent periodically to keep the
        connection alive; clients should ignore it.

        | type | extra fields |
        |------|-------------|
        | `gameState` | full `GameState` snapshot |
        | `move` | `uci`, `fen`, `turn`, `clock` |
        | `gameEnd` | `winner`, `status` |
        | `heartbeat` | — |
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [gameState, move, gameEnd, heartbeat]
        uci:
          type: string
          example: e2e4
        fen:
          type: string
        turn:
          type: string
          enum: [white, black]
        clock:
          type: object
          properties:
            whiteTime:
              type: number
            blackTime:
              type: number
            increment:
              type: integer
              description: Fischer increment added after each move, in seconds
        winner:
          type: string
          enum: [white, black]
          nullable: true
        status:
          type: string
          enum: [checkmate, stalemate, draw, resigned, timeout]

    GameExport:
      description: One game object per NDJSON line.
      type: object
      properties:
        id:
          type: string
          example: j0nPtcjl
        round:
          type: integer
          example: 2
        white:
          $ref: "#/components/schemas/BotRef"
        black:
          $ref: "#/components/schemas/BotRef"
        winner:
          type: string
          enum: [white, black, draw]
          nullable: true
        moves:
          type: string
          description: Space-separated UCI moves
          example: e2e4 e7e5 g1f3

    TournamentEvent:
      description: |
        One JSON object per NDJSON line. Discriminate on `type`. A `heartbeat`
        line (`{"type":"heartbeat"}`) is sent periodically to keep the
        connection alive; clients should ignore it.

        | type | extra fields |
        |------|-------------|
        | `tournamentStarted` | — |
        | `roundStarted` | `round` |
        | `gameStart` | `round`, `gameId`, `color` |
        | `roundFinished` | `round` |
        | `tournamentFinished` | `winner` |
        | `heartbeat` | — |
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum:
            - tournamentStarted
            - roundStarted
            - gameStart
            - roundFinished
            - tournamentFinished
            - heartbeat
        round:
          type: integer
          example: 2
        gameId:
          type: string
          example: j0nPtcjl
        color:
          type: string
          enum: [white, black]
        winner:
          $ref: "#/components/schemas/BotRef"

    AnalyticsExportGame:
      type: object
      description: All fields needed to compute analytics for one game
      required: [gameId, tournamentId, round, whiteBotId, whiteBotName, blackBotId, blackBotName, terminationReason, totalPly, moves]
      properties:
        gameId:
          type: string
          example: j0nPtcjl
        tournamentId:
          type: string
          example: t7kXq2
        round:
          type: integer
          example: 1
        whiteBotId:
          type: string
          example: bot_abc
        whiteBotName:
          type: string
          example: StockfishClone
        whiteBotFamily:
          type: string
          nullable: true
          example: stockfish
        whiteStrategyType:
          type: string
          nullable: true
          example: null
        whiteEngineType:
          type: string
          nullable: true
          description: Engine type of the white bot as registered (e.g. heuristic, searchess-ai, stockfish)
          example: heuristic
        whiteModelVersion:
          type: string
          nullable: true
          description: Model version of the white bot as registered
          example: v2.0
        blackBotId:
          type: string
          example: bot_xyz
        blackBotName:
          type: string
          example: RandomBot
        blackBotFamily:
          type: string
          nullable: true
          example: heuristic
        blackStrategyType:
          type: string
          nullable: true
          example: random
        blackEngineType:
          type: string
          nullable: true
          description: Engine type of the black bot as registered
          example: null
        blackModelVersion:
          type: string
          nullable: true
          description: Model version of the black bot as registered
          example: null
        winner:
          type: string
          nullable: true
          enum: [white, black, draw]
          example: white
        winnerBotId:
          type: string
          nullable: true
          description: Bot id of the winner, null for draws
          example: bot_abc
        terminationReason:
          type: string
          enum: [checkmate, stalemate, draw, resigned, timeout, pending, ongoing]
          example: checkmate
        totalPly:
          type: integer
          description: Total half-moves played
          example: 5
        moves:
          type: string
          description: Space-separated UCI move sequence
          example: e2e4 f7f6 d2d4 g7g5 d1h5
        startedAt:
          type: string
          format: date-time
          nullable: true
          example: "2025-06-17T10:05:00Z"
        endedAt:
          type: string
          format: date-time
          nullable: true
          example: "2025-06-17T10:05:03Z"
        durationMillis:
          type: integer
          nullable: true
          description: Game duration in milliseconds (null if timing not available)
          example: 3124

    AnalyticsExportStanding:
      type: object
      required: [tournamentId, botId, botName, rank, points, wins, draws, losses, nbGames, tieBreak]
      properties:
        tournamentId:
          type: string
          example: t7kXq2
        botId:
          type: string
          example: bot_abc
        botName:
          type: string
          example: StockfishClone
        botFamily:
          type: string
          nullable: true
          example: stockfish
        strategyType:
          type: string
          nullable: true
          example: null
        engineType:
          type: string
          nullable: true
          description: Engine type of the bot as registered
          example: heuristic
        modelVersion:
          type: string
          nullable: true
          description: Model version of the bot as registered
          example: v2.0
        rank:
          type: integer
          example: 1
        points:
          type: number
          example: 3.5
        wins:
          type: integer
          example: 3
        draws:
          type: integer
          example: 1
        losses:
          type: integer
          example: 0
        nbGames:
          type: integer
          description: >
            Number of pairings (match-ups) completed by this bot. For
            tournaments using a multi-position opening book each pairing
            produces `matchesPerPairing` individual game records in the
            `games` array, so `nbGames` counts opponents faced, not total
            games played.
          example: 4
        tieBreak:
          type: number
          example: 9.0

    AnalyticsExport:
      type: object
      description: |
        Stable, versioned export contract for external analytics pipelines.
        Contains all game results and final standings needed by any client
        to compute leaderboards, ELO ratings, and statistics without
        additional API calls.

        This endpoint does **not** run analytics. It assembles raw tournament
        data into a single document. Clients (e.g. the Searchess Spark pipeline)
        import this payload and compute analytics independently.

        `schemaVersion` is always `"1.0"`. Consumers should gate on this value
        before deserializing to detect breaking changes in future versions.
      required: [schemaVersion, tournamentId, format, clock, rated, nbRounds, exportedAt, standings, games]
      properties:
        schemaVersion:
          type: string
          description: Schema version of this export document. Currently always "1.0".
          example: "1.0"
        tournamentId:
          type: string
          example: t7kXq2
        format:
          type: string
          enum: [swiss, singleElimination, doubleElimination, groupStage, league, randomKnockout]
          example: swiss
        clock:
          $ref: "#/components/schemas/Clock"
        rated:
          type: boolean
          example: true
        nbRounds:
          type: integer
          description: Total number of rounds in the tournament
          example: 5
        startedAt:
          type: string
          format: date-time
          nullable: true
          example: "2025-06-17T10:00:00Z"
        finishedAt:
          type: string
          format: date-time
          nullable: true
          example: "2025-06-17T12:30:00Z"
        exportedAt:
          type: string
          format: date-time
          description: ISO-8601 timestamp when this document was generated
          example: "2025-06-17T12:31:00Z"
        standings:
          type: array
          items:
            $ref: "#/components/schemas/AnalyticsExportStanding"
        games:
          type: array
          items:
            $ref: "#/components/schemas/AnalyticsExportGame"

    Ok:
      type: object
      properties:
        ok:
          type: boolean
          example: true

    Error:
      type: object
      properties:
        error:
          type: string
          example: tournament already started

  responses:
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Action not permitted for this user or bot
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Tournament or game not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Conflicting state (e.g. already started, bot already joined, not your turn)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
